<div class="container-fluid">
  <div class="row mt-3">
    <p class="heading-text">Sign in</p>
  </div>
  <div class="row">
    <div class="form-settings">
      <form>
        <div class="form-group">
          <label for="emailforuser">Email address</label>
          <input
            type="email"
            class="form-control"
            id="emailforuser"
            aria-describedby="emailHelp"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group pt-2">
          <label for="passwordforuser">Password</label>
          <input type="password" class="form-control" id="passwordforuser" />
        </div>
        <button type="submit" class="btn btn-primary mt-4">Submit</button>
      </form>
    </div>
  </div>
  <div class="row mt-3 text-info">
    <p class="text-info">
      If you are a new user, Please
      <a routerLink="" style="color: midnightblue; font-weight: 500">Sign Up</a>
    </p>
  </div>
</div>
