<div class="container-fluid">
  <div class="content header">
    <div class="row">
      <div class="col-lg-9">
        <img
          src="../../assets/output-onlinepngtools.png"
          style="height: 170px; width: 170px"
        />
      </div>
      <div class="col-lg-3">
        <h2
          style="
            font-family: cursive;
            padding-top: 50px;
            font-weight: 900;
            color: midnightblue;
            font-size: 40px;
          "
        >
          HomeForAll
        </h2>
      </div>
    </div>
    <div class="row">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide carousel-fade pt-5"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div data-interval="3000" class="carousel-item active">
            <p class="caraousel-items">
              “An animal’s eyes have the power to speak a great language.”
            </p>
          </div>
          <div data-interval="3000" class="carousel-item">
            <p class="caraousel-items">
              “Dogs are not our whole life, but they make our lives whole.”
            </p>
          </div>
          <div data-interval="3000" class="carousel-item">
            <p class="caraousel-items">
              “Time spent with cats is never wasted.”
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
    <div class="row mt-5">
      <p style="color: midnightblue; font-size: large">
        &copy; Designed with &hearts; from ashish
      </p>
    </div>
  </div>
</div>
